<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Te</string>
	<key>2</key>
	<string>Le</string>
	<key>3</key>
	<string>Se</string>
	<key>4</key>
	<string>Me</string>
	<key>5</key>
	<string>Ra</string>
	<key>6</key>
	<string>Do&apos;</string>
	<key>7</key>
	<string>Ti</string>
	<key>8</key>
	<string>La</string>
	<key>9</key>
	<string>So</string>
	<key>10</key>
	<string>Fa</string>
	<key>11</key>
	<string>Mi</string>
	<key>12</key>
	<string>Re</string>
	<key>13</key>
	<string>Do</string>
	<key>14</key>
	<string>Li</string>
	<key>15</key>
	<string>Si</string>
	<key>16</key>
	<string>Fi</string>
	<key>17</key>
	<string>Ri</string>
	<key>18</key>
	<string>Di</string>
</dict>
</plist>
